<!DOCTYPE html>
<html>
Pacemaker Data:
<table border="5" style="width:800px; background-color:#FFF;">
    <thead>
      <tr>
        <th>Time</th>
        <th>Heartbeat Duration</th>
        <th>Analysis</th>
      </tr>
    </thead>

    <tbody>
      <% @data.each do |dat| %>
        <tr>
          <td style="width:300px;"><%= dat.recieved_at%></td>
          <td style="width:300px;"><%= dat.beat %></td>
          <td style="width:300px;"><%= dat.sign %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</html>